.body {
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 145px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 25px;
}
  
.header-left { 
    margin: 30px 70px;
}

.header-left__img {
    width: 100%;
}

.header-right {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.header-right__nav {
    margin-right: 55px;
}

.header-right__nav--item,
.header-right__nav--item a{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 0 15px;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #54524f;
}

.header-right__nav--item:hover a{
    color: var(--header-text);
    text-decoration: none;
}

.header-right__search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    border-radius: 30px;
}

.header-right__input {
    /* position: relative; */
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    width: 100%;
    height: 100%;
    background-color: #c3bfbc;
    border: none;
    font-size: 1.8rem;
    color: var(--text-color);
    outline: none;
}

.header-right__search--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    background-color: #c3bfbc;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    color: #68635F;
    font-size: 2.5rem;
}

.header-right__search--icon:hover{
    color: #e2a355;
}

.header-mobile {
    display: block;
}

/* container */

.container {
    width: 100%;
}

.banner {
    width: 100%;
}

.banner-img {
    position: relative;
}

.banner-text {
    position: absolute;
    width: 545px;
    height: 450px;
    transform: translateX(20%);
    margin-top: 150px;
    z-index: 1;
}

.banner-heading {
    color: var(--header-text);
    font-size: 8rem;
    margin: 0;
}

.banner-dolor {
    text-transform: uppercase;
    color: #54524f;
    margin: 15px;
    font-size: 1.6rem;
    letter-spacing: 5px;
}

.banner-more {
    width: 215px;
    height: 50px;
    border-radius: 30px;
    background-color: #fefdfc;
    font-size: 1.7rem;
    font-weight: 800;
    border: none;
    margin-top: 65px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.banner-more:hover a,
.banner-more:hover {
    background-color: #e2a355;
    color: var(--text-color);
    text-decoration: none;
}

.banner-more a {
    color: var(--text-color);
    text-decoration: none;
}

.banner-text p {
    width: 400px;
    margin-top: 30px;
    color: var(--text-color);
    font-size: 1.6rem;
}

/* place */

.place-heading {
    text-align: center;
    color: var(--header-text);
    font-size: 7rem;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 45px;
}

.place-text {
    margin-bottom: 70px;
}

.place-title {
    text-align: center;
    color: var(--text-color);
    font-size: 3rem;
    margin: 0;
}


.place-list {
    position: relative;
    margin: 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.place-list__item {
    padding: 35px;
}

.place-list__item-img {
    display: block;
    width: 100%;
    height: 310px;
}

.place-list__item-body {
    background-color: #7f7770;
    padding: 40px 15px;
}

.place-list__heading {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
}

.place-list__text {
    color: #fff;
    font-size: 2rem;
    line-height: 2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    letter-spacing: 1px;
}

.show-more {
    position: absolute;
    width: 300px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: none;
    background-color: #7f7770;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.show-more:hover {
    background-color: #e2a355;
}

.place-shadow {
    position: absolute;
    margin-top: -240px;
}

/* service */

.service {
    display: flex;
    flex-wrap: wrap;
    margin-top: 270px;
    width: 100%;
}

.service-image {
    width: 50%;
}

.service-img {
    width: 100%;
}

.service-discount {
    width: 50%;
    background-color: #7f7770;
}

.service-discount__heading {
    color: #fff;
    font-size: 6rem;
}

.service-discount__text {
    color: #fff;
    font-size: 3rem;
}

.service-time {
    width: 50%;
    background-color: #deb37e;
}

.service-time__text {
    padding: 100px 70px;
}


.service-discount__more {
    width: 340px;
    height: 75px;
    border: none;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2a355;
    border-radius: 40px;
    margin-top: 70px;
    cursor: pointer;
}

.service-discount__more a{
    text-decoration: none;
    color: #fff;
}
.service-discount__more a:hover {
    text-decoration: none;
    color: #fff;
}
.service-discount__more:hover {
    background-color: #54524f;
}




/* mountants */

.mountants {
    position: relative;
}

.mountants-img {
    width: 100%;
}

.mountants-wrap {
    position: absolute;
    text-align: center;
    transform: translateX(50%);
    top: 30%;
}

.mountants-heading {
    color: #fff;
    font-size: 5rem;
    font-weight: 500;
}

.mountants-text {
    color: #cacbc9;
    width: 700px;
    font-size: 2.5rem;
}

/* explore */
.the-world {
    width: 100%;
    position: relative;
}

.the-world-text {
    position: absolute;
    top: 30%;
    left: 60%;
}

.the-world-text h1{
    color: var(--header-text);
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 800;
    float: right;
}

.the-world-text h2{
    color: #54524f;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 800;
}

/* lorem */

.lorem {
    margin-top: 100px;
}

.lorem-list {
    margin: 0 100px;
    display: flex;
}

.lorem-list__item {
    padding: 0 35px
}

.lorem-list__item-body {
    width: 340px;
    height: 125px;
    padding: 0 15px;
}

.lorem-list__heading {
    color: var(--header-text);
    font-size: 2rem;
    font-weight: 600;
}

.lorem-list__text {
    color: var(--text-color);
    font-size: 1.5rem;
    overflow: hidden;
    line-height: 2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

/* veniam */
/* slider swiper */

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

.veniam {
    position: relative;
}

.veniam-img {
    width: 100%;
}

.veniam-pragraph {
    position: absolute;
    z-index: 1;
    margin: 15% 25%;
    text-align: center;
}

.veniam-heading {
    font-size: 6rem;
    margin: 0;
}

.veniam-text {
    font-size: 2rem;
    margin: 0;
}

.veniam-name {
    padding-top: 20px;
}

/* address */

.address {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.address-img {
    width: 100%;
}

.address-pragraph {
    position: absolute;
    text-align: center;
}

.address-heading {
    font-size: 6rem;
    color: #fff;
}

.address-text {
    font-size: 2rem;
    margin: 0;
    color: #54524f;
}

.address-send {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.address-input {
    position: relative;
    width: 500px;
    height: 60px;
    background-color: #fff;
    border-radius: 30px;
    border: none;
    font-size: 2rem;
    padding-left: 30px;
    outline: none;
}

.address-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    border: none;
    background-color: #54524f;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 30px;
    margin-left: 500px;
    cursor: pointer;
}

.address-button:hover {
    background-color: #e2a355;
}
.address-button:hover {
    text-decoration: none;
    color: #fff
}

/* footer */

.footer {
    margin-top: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-img {
    width: 100%;
}

.footer__row {
    display: flex;
    width: 100%;
    position: absolute;
    margin: 245px 0;
}

.grid__column-4 {
    width: 40%;
    margin: 0 90px;
}

.grid__column-2 {
    width: 15%;
}

.footer__heading {
    color: #fff;
    font-size: 3rem;
    font-weight: 400;
}

.footer-list {
    padding: 0;
}

.footer-item {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.footer-item__link {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1px;
} 

.footer-item__link:hover {
    text-decoration: none;
    color:#e2a355
}

.footer-item__link-icon {
    font-size: 3rem;
    padding: 0 10px;
}

